.weather-forecast {
  margin-top: 10px;
  display: flex;
  width: 930px;
  justify-content: space-between;
  animation: pop-up 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(201, 201, 201, 0.3); /* 50% transparent white */
  backdrop-filter: blur(5px); /* Add a blur effect to the background */
  border: solid 1px rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.weather-card p {
  font-size: 25px;
}

.weather-card span {
  color: white;
  white-space: nowrap;
}

.weather-card img {
  width: 100px;
  object-fit: cover;
}
.weather-forecast.show-cards .weather-card {
  animation: slide-in 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}